:root {
  --font-primary: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  --color-primary-bg: #F6F8FF;
  --color-secondary-bg: #FEFEFE;
  --color-primary-text: #4B6A9B;
  --color-secondary-text: #697C9A;
  --color-primary-heading: #222731;
  --color-secondary-heading: #2B3442;
  --color-primary-btn: #FFFFFF;
  --color-primary-accent: #0079FF;
  --color-secondary-accent: #60ABFF;
  --color-error: #F74646;
  font-family: var(--font-primary);
  font-weight: 400;
  background-color: var(--color-primary-bg);
}

body.dark {
  --color-primary-bg: #141D2F;
  --color-secondary-bg: #1E2A47;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #FFFFFF;
  --color-primary-heading: #FFFFFF;
  --color-secondary-heading: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ui {
  width: 100%;
  padding: 31px 24px 80px;
}

.header-top,
.header-top button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  margin-bottom: 36px;
}

.logo {
  margin: 0;
  font-size: 26px;
  line-height: 39px;
  color: var(--color-primary-heading);
}

.header-top button {
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--color-primary-text);
  cursor: pointer;
}

.header-top button svg {
  margin-left: 16px;
}

.search-form {
  position: relative;
  margin-bottom: 16px;
}

.search {
  height: 60px;
  width: 100%;
  padding-left: 43px;
  color: var(--color-primary-heading);
  background: var(--color-secondary-bg) url(../assets/icon-search.svg) no-repeat 16px center/20px;
  caret-color: var(--color-primary-accent);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
}

body.dark .search {
  box-shadow: none;
}

.search,
.search::placeholder {
  font-size: 13px;
  line-height: 25px;
}
.search::placeholder {
  color: var(--color-primary-text);
  opacity: 1;
}

.search-btn {
  position: absolute;
  right: 7px;
  top: 7px;
  height: 46px;
  width: 84px;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-primary-btn);
  background: var(--color-primary-accent);
  border-radius: 10px;
  cursor: pointer;
}

.card {
  padding: 32px 24px 48px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  background-color: var(--color-secondary-bg);
}

body.dark .card {
  box-shadow: none;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.user-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-info {
  margin-left: 19px;
  color: var(--color-primary-accent);
}

.user-name {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary-heading);
}

.user-account,
.user-join {
  font-size: 13px;
  line-height: 19px;
}

.user-account {
  display: inline-block;
  margin-bottom: 6px;
}

.user-join {
  color: var(--color-secondary-text);
}

.bio {
  margin-bottom: 23px;
}

.bio p {
  font-size: 13px;
  line-height: 25px;
  color: var(--color-primary-text);
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 18.5px 14.5px;
  margin-bottom: 24px;
  background: var(--color-primary-bg);
  border-radius: 10px;
}

.stat-label {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 8px;
  color: var(--color-primary-text);
}

.stat-number {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary-heading);
}

.social li.not-available {
  opacity: 0.5;
}

.social a,
.location,
.company {
  display: flex;
  align-items: center;
}

.social li + li {
  margin-top: 16px;
}

.social a p,
.location p,
.company p,
.location path,
.blog-link g,
.twitter-link path,
.company g {
  font-size: 13px;
  line-height: 19px;
  fill: var(--color-primary-text);
  color: var(--color-primary-text);
  margin-left: 13px;
}

.location p {
  margin-left: 19px;
}

@media (min-width: 48em) {
  .ui {
    padding: 0 98px;
  }
  
  .search {
    height: 69px;
    padding-left: 80px;
    background: var(--color-secondary-bg) url(../assets/icon-search.svg) no-repeat 32px center/24px;
  }

  .search, .search::placeholder {
    font-size: 18px;
    line-height: 25px;
  }

  .search-btn {
    height: 50px;
    width: 106px;
    right: 10px;
    top: 9.5px;
    font-size: 16px;
    line-height: 24px;
  }

  .card {
    padding: 40px;
  }

  .user-img {
    height: 117px;
    width: 117px;
  }

  .user-info {
    margin-left: 41px;
  }

  .user-name {
    font-size: 26px;
    line-height: 39px;
  }

  .user-account {
    font-size: 16px;
    line-height: 24px;
  }

  .user-join, .bio p {
    font-size: 15px;
    line-height: 22px;
  }

  .bio  {
    margin-bottom: 32px;
  }

  .stats {
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 16px 96px 16px 32px;
    margin-bottom: 30px;
  }
  
  .stat-label {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 1px;
  }

  .stat-number {
    font-size: 22px;
    line-height: 33px;
  }

  .social ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "g1 g2"
      "g3 g4";
    gap: 16px;
  }

  .g1 {
    grid-area: g1;
  }

  .g2 {
    grid-area: g2;
  }

  .g3 {
    grid-area: g3;
  }

  .g4 {
    grid-area: g4;
  }

  .social li + li {
    margin-top: 0;
  }

  .social a p, .location p, .company p, .location path, .blog-link g, .twitter-link path, .company g {
    font-size: 15px;
    line-height: 22px;
    margin-left: 16px;
  }

  .location p {
    margin-left: 22px;
  }


}